<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title></title>
    </head>
    <body>
        <nav>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href='/'>Home</a></li>
                <li role="presentation"><a href='/blog'>Main Blog</a></li>
                <li role="presentation"><a href='/newpost'>New Blog Post</a></li>
                <li role="presentation"><a href='/logout'>Log Out</a></li>
            </ul>

        </nav>
        <hr />
{% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category,message in messages %}
        <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
{% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>