{% extends 'base.html' %}
{% block content %}

<h3 style='text-align: center'>Login</h3>
<form action='/login' method='post'>
    <div class='col-lg-50 text-center'>
    <div>
        <input placeholder='Username' name='username' type='text' value='{{username}}'>   
    </div>        
    <div>
        <input placeholder='Password'name='password' type='password' value='{{password}}'>
    </div>        
    <input type='submit'class='btn btn-default navbar-btn;label label-success' value='Login'/>
    <p>If you dont have an account, please <a href='/signup'>Create An Account</a> below</p>
    </div>
</form>
<hr />
{% endblock %}  