{% extends 'base.html' %}
{% block content %}
<style>
div.input {
    margin: static;
}
</style>
<h1 style='text-align: center'>Sign Up. It's free, why not?</h1>
<form action='/signup' method='POST'>
    <div class='col-lg-50 text-center'>
        <div class='input'>
             <input placeholder='Username'name='username' type='text' value='{{ username }}'>
            <span style='color: red'>{{ usernameError }}</span>
        </div>
        <div class='input'>
                <input placeholder='Password' name='password' type='password' value='{{ password }}'>
            <span style='color: red'>{{ passwordError }}</span>
        </div>
        <div class='input'>
            <input placeholder='Verify Password' name='verifyPassword' type='password' value='{{ verifyPassword }}'>
            <span style='color: red'> {{ verifyError }} </span>
            <input type='submit'class='btn btn-default;label label-success'value='Sign Up'/>
        </div>
    </div>
</form>
{% endblock %}  